/***********************************************************barra de navegacion index***********************************/
.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navtexto {
  font-size: 30px;
  /*   margin-bottom: -8rem;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}