/***********************************************************barra de navegacion***********************************************************************/
.logo {
    position: absolute;
    padding: 40px 50px;
  }
  .menu1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;
    width: 100%;
  }
  .menunav1 {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0rem;
    background-color: $black;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 50px 16px;
        &:hover {
          background-color: orangered;
        }
        .fas {
          width: 5rem;
          font-size: 25px;
        }
      }
    }
  }