/***********************************************************Contacto***********************************/
.main__contacto {
  display: flex;
  justify-content: center;
  background-image: url(../imag/puños.jpg);
  background-repeat: repeat;
  background-size: 100%;
  width: 100%;
}
