@import "variables.scss";
@import "barra-navegacion-index.scss";
@import "entrenamientos.scss";
@import "barra-de-navegacion.scss";
@import "home.scss";
@import "media-query.scss";
@import "nutricion.scss";
@import "pie-de-pagina.scss";
@import "servicios.scss";
@import "contacto.scss";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





